In [110]:
# name=input('enter candidate name:').capitalize()
# position=input('enter candidate position:')
# ctc=int(input('enter candidate ctc:'))
# hr_name=input('hr name:')

# offer_letter= f'''Hi {name},
# This is the offer letter for you.
# You are hired for the {position} Position.
# Your CTC is {ctc}.
# Thanks and Regards,
# {hr_name}
# '''

# with open("offer_letter.txt", 'w') as file:
#     file.write(offer_letter)

enter candidate name: nicky
enter candidate position: python
enter candidate ctc: 5000
hr name: rohit

In [3]:
name=input('enter candidate name:').capitalize()
position=input('enter candidate position:')
ctc=int(input('enter candidate ctc:'))
hr_name=input('hr name:')

offer_letter= f'''Hi {name},
This is the offer letter for you.
You are hired for the {position} Position.
Your CTC is {ctc}.                                                       # format string
Thanks and Regards,
{hr_name}                                                                      
'''
print(offer_letter)

enter candidate name: ashwini
enter candidate position: java developer
enter candidate ctc: 50000
hr name: nicky

Hi Ashwini,
This is the offer letter for you.
You are hired for the java developer Position.
Your CTC is 50000.
Thanks and Regards,
nicky

In [11]:
first='nicky'            # '+' operator
last='kumari'
print(first+'_'+last)

nicky_kumari

In [25]:
print(first,',',last)     # join operator

nicky , kumari

In [47]:
print(first[3])           # individual character
str.

k

In [39]:
len(last)                 # length

6

In [47]:
print(first.upper())      # upper

NICKY

In [49]:
print(first.lower())      # lower

nicky

In [103]:
line='   this is   python'
print(line.replace("python","java"))            # replace

   this is   java

In [57]:
print(line.split())                            # split

['this', 'is', 'python']

In [93]:
print(line.startswith("th"))          # start with

True

In [97]:
print(line.endswith("on"))            # end with

True

In [99]:
print(line.strip())                   # remove whitespace (extra space in line or b/w word)

this is python

In [51]:
print(line.index('t'))                # find index

3

In [27]:
print(line.count('i'))                # count number

2

In [45]:
line2='python'
print(line2.isalpha())                # check alphabet

True

In [41]:
lines='12334'
print(lines.isnumeric())              # check numeric

True

In [77]:
name= 'nicky7764294273'
print(name[14::-1])                    # check palindrome (palindrome means reverse number)

3724924677ykcin

In [75]:
print(name[10::-1])                    # reverse

924677ykcin

In [5]:
names= 'nicky7764294273'
mob = 'nicky7764294273'
                                       # slicing (+ve and -ve)
print(names[0:5:1],mob[-10::1])

nicky 7764294273

In [9]:
name1= 'nicky7764294273'
print(name1.replace('7',' '))           # remove specific character

nicky  642942 3